Shaykhullin.Injection.Tests/obj/Release/netcoreapp2.0/Shaykhullin.Injection.Tests.pdb
Shaykhullin.Injection.Tests/obj/Release/netcoreapp2.0/Shaykhullin.Injection.Tests.dll
*.cache
*.txt
*.CopyComplete
*.dll
Shaykhullin.Injection.Tests/bin/Release/netcoreapp2.0/Shaykhullin.Injection.Tests.runtimeconfig.json
Shaykhullin.Injection.Tests/bin/Release/netcoreapp2.0/Shaykhullin.Injection.Tests.runtimeconfig.dev.json
Shaykhullin.Injection.Tests/bin/Release/netcoreapp2.0/Shaykhullin.Injection.Tests.deps.json
*.pdb
Shaykhullin.Injection/bin/Release/netstandard2.0/Shaykhullin.Injection.deps.json
.vs/Shaykhullin.Injection/v15/sqlite3/storage.ide
*.json
*.suo
Shaykhullin.Injection/obj/Release/Shaykhullin.Injection.2.1.0.nuspec
Shaykhullin.Injection/bin/Release/Shaykhullin.Injection.2.1.0.nupkg
*.lut
.vs/
*.props
*.nuspec
*.nupkg
*.targets
.idea/.idea.Shaykhullin.Injection/.idea/workspace.xml
Shaykhullin.Injection/obj/Debug/netstandard2.0/Shaykhullin.Injection.AssemblyInfo.cs
Shaykhullin.Injection.Tests/obj/Debug/netcoreapp2.0/Shaykhullin.Injection.Tests.Program.cs
Shaykhullin.Injection.Tests/obj/Debug/netcoreapp2.0/Shaykhullin.Injection.Tests.AssemblyInfo.cs
.idea/.idea.Shaykhullin.Injection/.idea/.name
.idea/.idea.Shaykhullin.Injection/riderModule.iml
.idea/.idea.Shaykhullin.Injection/.idea/modules.xml
.idea/.idea.Shaykhullin.Injection/.idea/indexLayout.xml
.idea/.idea.Shaykhullin.Injection/.idea/contentModel.xml
Shaykhullin.Injection/obj/Release/netstandard2.0/Shaykhullin.Injection.AssemblyInfo.cs
Shaykhullin.Injection.Tests/obj/Release/netcoreapp2.0/Shaykhullin.Injection.Tests.AssemblyInfo.cs
Shaykhullin.Injection.Tests/obj/Release/netcoreapp2.0/Shaykhullin.Injection.Tests.Program.cs
Shaykhullin.Injection.Tests/Shaykhullin.Injection.Tests.csproj.DotSettings
