obj/Debug/netcoreapp2.0/Shaykhullin.Injection.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.0/Shaykhullin.Injection.AssemblyInfoInputs.cache
obj/Debug/netcoreapp2.0/Shaykhullin.Injection.AssemblyInfo.cs
obj/project.assets.json
obj/Shaykhullin.Injection.csproj.nuget.g.targets
obj/Shaykhullin.Injection.csproj.nuget.g.props
obj/Shaykhullin.Injection.csproj.nuget.cache
.vs/Shaykhullin.Injection/v15/sqlite3/storage.ide
.vs/Shaykhullin.Injection/v15/.suo
